.disabled a,
a.disabled {
  pointer-events: none;
}

a:hover {
  color: #15848F;
}

a {
  color: #1798A5;
}

header {
  background-color: #15848F;
  color: #ffffff;
  font-size: 30px;
  height: 84px;
  line-height: 64px;
  padding: 16px 0px;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.24);
}

header .header-title {
  padding-left:80px
}


legend {
  color:#15848F;
}

.row {
  max-width: 80rem;
}

.actions.columns {
  margin-top:1rem;
  border-left: 5px solid #15848F;
  padding-left: 15px;
  padding: 32px 20px;
}

.actions.columns h3 {
  color:#15848F;
}

.index table {
  margin-top: 2rem;
  border: 0;
}

.index table thead {
  height: 3.5rem;
}

.header-help {
  float: right;
  margin-right:2rem;
  margin-top: -80px;
  font-size:16px;
}

.header-help span {
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  padding: 0.25rem 0.5rem 0.375rem;
  font-size: 0.8rem;
  background-color: #0097a7;
  color: #FFF;
  border-radius: 1000px;
}

.header-help a {
  color: #fff;
}

ul.pagination li a {
  color: rgba(0, 0 ,0 , 0.54);
}

ul.pagination li.active a {
  background-color: #DCE47E;
  color: #FFF;
  font-weight: bold;
  cursor: default;
}
ul.pagination .disabled:hover a {
  background: none;
}

.paginator {
  text-align: center;
}

.paginator ul.pagination li {
  float: none;
  display: inline-block;
}

.paginator p {
  text-align: right;
  color: rgba(0, 0 ,0 , 0.54);
}

.asc:after {
  content: " \2193";
}
.desc:after {
  content: " \2191";
}

button {
  background: #8D6E65;
}

.form button:hover, .form button:focus {
  background: #7A6058;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.26) !important;
}

.form button[type="submit"] {
  float: right;
  text-transform: uppercase;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}

.form .error-message {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  color: rgba(0, 0, 0, 0.54);
}

.required > label {
  font-weight: bold;
}
.required > label:after {
  content: ' *';
  color: #C3232D;
}

select[multiple] {
  min-height:150px;
  background: none;
}
input[type=checkbox],
input[type=radio] {
  margin-right: 0.5em;
}

.date select,
.time select,
.datetime select {
  display: inline;
  width: auto;
  margin-right: 10px;
}

.error label,
.error label.error {
  color: #C3232D;
}

div.message {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-weight: normal;
  position: relative;
  padding: 0.875rem 1.5rem 0.875rem 20%;
  transition: opacity 300ms ease-out 0s;
  background-color: #DCE47E;
  border-color: #DCE47E;
  color: #626262;
}

div.message.error {
  background-color: #C3232D;
  border-color: #C3232D;
  color: #FFF;
}

div.message:before {
  line-height: 0px;
  font-size: 20px;
  height: 12px;
  width: 12px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  left: -11px;
  background-color: #FFF;
  padding: 12px 14px 12px 10px;
  content: "i";
  color: #DCE47E;
}

div.message.error:before {
  padding: 11px 16px 14px 7px;
  color: #C3232D;
  content: "x";
}

.view h2 {
  color: #6F6F6F;
}

.view .columns.strings {
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
  margin-right:0.7rem;
}

.view .numbers {
  background-color: #B7E3EC;
  color: #FFF;
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
  margin-right: 0.7rem;
}

.view .columns.dates {
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
  margin-right:0.7rem;
  background-color:#DCE47E;
  color: #fff;
}

.view .columns.booleans {
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
  margin-right:0.7rem;
  background-color: #8D6E65;
  color: #fff;
}

.view .strings p {
  border-bottom: 1px solid #eee;
}
.view .numbers .subheader, .view .dates .subheader {
  color:#747474;
}
.view .booleans .subheader {
  color: #E9E9E9
}

.view .texts .columns {
  margin-top:1.2rem;
  border-bottom: 1px solid #eee;
}


/** Notices and Errors **/
.cake-error,
.cake-debug,
.notice,
p.error,
p.notice {
  display: block;
  clear: both;
  background-repeat: repeat-x;
  margin-bottom: 18px;
  padding: 7px 14px;
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
}

.cake-debug,
.notice,
p.notice {
  color: #000000;
  background: #ffcc00;
}

.cake-error,
p.error {
  color: #fff;
  background: #C3232D;
}

pre {
  background: none repeat scroll 0% 0% #FFF;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
  margin: 15px 0px;
  color: rgba(0, 0 ,0 , 0.74);
  padding:5px;
}

.cake-error .cake-stack-trace {
  margin-top:10px;
}

.cake-stack-trace code {
  background: inherit;
  border:0;
}

.cake-code-dump .code-highlight {
  display: block;
  background-color: #FFC600;
}

.cake-error a,
.cake-error a:hover {
  color:#fff;
  text-decoration: underline;
}

.home header {
  width: 100%;
  height: 85%;
  position: relative;
  display: table;
}

.home h1 {
  font-family: "Gill Sans MT", Calibri, sans-serif;
}

.home header .header-image {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.home header h1 {
  color: #fff;
}

.home .checks {
  padding:30px;
  color: #626262;
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
  margin-top:50px;
}

.checks.platform {
  background-color: #B7E3EC;
}

.checks.filesystem {
  background: #DCE47E;
}

.checks.database {
  background-color: #DFF0D8;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.home .checks .success:before, .home .checks .problem:before {
  line-height: 0px;
  font-size: 28px;
  height: 12px;
  width: 12px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  left: -11px;
}

.home .checks .success:before {
  content: "✓";
  color: green;
  margin-right: 9px;
}

.home .checks .problem:before {
  content: "✘";
  color: red;
  margin-right: 9px;
}

.top-bar.expanded .title-area {
  background: #171A21;
}

.top-bar-section {
  padding: 20px;
}

.top-bar.expanded, .top-bar,.top-bar-section ul li,.top-bar-section li:not(.has-form) a:not(.button) {
  background: #171A21;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #171A21;
}


.index table {
  margin-top: 0rem;
  border: 0;
}

table {
  background: #fff;
  margin-bottom: 1.25rem;
  border: none;
  table-layout: fixed;
  width: 100%;
  /*background-color: #353e49;*/
}

table thead {
  background: none;
}

table tr {
  border-bottom: 1px solid #ebebec;
}

table thead tr {
  border-bottom: 1px solid #1798A5;
}

table tr th {
  padding: 0.5625rem 0.625rem;
  font-size: 0.875rem;
  color: #1798A5;
  text-align: left;
  border-bottom: 2px solid #1798A5;
}

table tr:nth-of-type(even) {
  background: none;
}



fieldset {
  border: none;
  padding: 1.25rem;
  margin: 1.125rem 0;
}

fieldset legend {
  border-bottom: 2px solid #1798A5;
  width: 100%;
  line-height: 2rem;
}

.form button[type="submit"] {
  float: right;
  text-transform: uppercase;
  box-shadow: none;
}

/*#language option, #rank_from option, #rank_to option {
  background-repeat: no-repeat;
  height: 37px;
  background-position: 50% center;
  background-size: 112px 37px;
  width: 112px;
}*/

.form button:hover, .form button:focus {
  background: #BE840B;
  box-shadow: none;
}

div.message {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-weight: normal;
  padding: 0.875rem 1.5rem 0.875rem 1.5rem;
  transition: opacity 300ms ease-out 0s;
  background-color: #a0d3e8;
  border-color: #74bfdd;
  color: #626262;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 999;
}

div.message:before {
  line-height: 0px;
  font-size: 20px;
  height: 12px;
  width: 12px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  left: -11px;
  background-color: #FFF;
  padding: 12px 14px 12px 10px;
  content: "i";
  color: #a0d3e8;
}

.vertical-table th {
  padding: 0.5625rem 0.625rem;
  font-size: 0.875rem;
  color: #1798A5;
  border: none;
  text-align: left;
}

.vertical-table {
  vertical-align: middle;
}

.vertical-table td {
  text-align: right;
}

/* Use 'one true layout' methods to get equal height columns */
.container {
  overflow: hidden;
  min-height: 92%; /* full height almost always */
  background-color: #1B2838
}

.content {
  padding: 2rem;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  color: #4d4d4d;
}


.content h3 {
  color: #66c0f4;
  padding-bottom: 0.5rem;
  margin-bottom: 20px;
}

.content h4 {
  color: #be140b;
  padding-bottom: 0.5rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #ffffff;
}

.content .related h4 {
  color: #ebaa20;
  padding-bottom: 0.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 0px;
}

div #expand {
  display: none;
}



button {
  background: #966600;
}



/* select with CSS avatar icons */
option.avatar {
  background-repeat: no-repeat !important;
  padding-left: 20px;
}
.avatar .ui-icon {
  background-position: left top;
  width: 100%;
  height: auto;
}

#rank-from-button, #rank-to-button {
  width: 110px !important;
  background-repeat: no-repeat;
}
#rank-from-menu, #rank-to-menu {
  width: 110px !important;
}
#language-button {
  width: 20px !important;
  height: 12px !important;
  background-repeat: no-repeat;
}
#language-menu {
  width: 20px !important;
}
#filter-language-button, #filter-user-rank-button {
  width: 64px !important;
  background-repeat: no-repeat;
}
#filter-user-rank-menu, #filter-language-menu {
  width: 64px !important;
}

div.filter-options {
  height: 463px;
  padding: 1rem;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  color:#fff;
  float: right;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}

div.filter-options-container {
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px #05070A;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,020304+18,131b26+77,17212e+100 */
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top,  #000000 0%, #020304 18%, #131b26 77%, #17212e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #000000 0%,#020304 18%,#131b26 77%,#17212e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #000000 0%,#020304 18%,#131b26 77%,#17212e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#17212e',GradientType=0 ); /* IE6-9 */

}

div.chat-message-container {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

div.chat-message-input {
  padding-left: 0;
}

div.chat-container {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px #05070A;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,020304+18,131b26+77,17212e+100 */
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top,  #000000 0%, #020304 18%, #131b26 77%, #17212e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #000000 0%,#020304 18%,#131b26 77%,#17212e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #000000 0%,#020304 18%,#131b26 77%,#17212e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#17212e',GradientType=0 ); /* IE6-9 */
}

div.chat {
  height: 463px;
  padding: 1rem;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  color:#fff;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}

div.submit-message {
  padding: 20px 5px 5px 5px;
}

.send-chat-message {
  padding:0;
}


.lobbies table {
  background-color: rgba(100,100,100,0.0);
  margin-bottom: 1.25rem;
  border: none;
  table-layout: fixed;
  width: 100%;
}

.lobbies table thead {
}

.lobbies table tbody tr {
  background: #0f151a;
  border: 1px solid #365474;
  color: #6390a1;
}

.lobbies .spacer{
  border: none;
  padding-bottom: 10px;
  height: 20px;
  background-color: rgba(100,100,100,0.0);
}

.lobbies td {
  color: #e1e1e1;
}

.lobbies .lobby_owner {
  border: 1px solid #F6C861;
}

.lobbies .until {
  text-align: center;
}

div.lobby-item {
  margin-bottom: 15px !important;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px #05070A;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,020304+18,131b26+77,17212e+100 */
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top,  #000000 0%, #020304 18%, #131b26 77%, #17212e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #000000 0%,#020304 18%,#131b26 77%,#17212e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #000000 0%,#020304 18%,#131b26 77%,#17212e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#17212e',GradientType=0 ); /* IE6-9 */

}

.lobbies table tr th {
  padding: 0.5625rem 0.625rem;
  font-size: 0.875rem;
  color: #6390a1;
  text-align: left;
  border-bottom: 2px solid #6390a1;
}

div.lobbies.new {
  border: 1px solid #6390a1;
  border-radius: 20px;
 background-color: #1B2838;
  padding: 1rem;
}

.lobbies.new h2 {
  /*kleiner, andere farbe*/
  color: #66C0F4;
  font-size: medium;
  font-weight: bold;
}
